# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/IHCore
/Common/SIInterface
/IHCore/Release/IHCore.tlog
/IHCore/Release
/IHCore/x64/Debug
/IHLibList/Release
/RAImGui/Release
/RAImGui/x64/Debug
/Release
/SRC241007A
/SRC241007A.zip
/debug.log
